<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog API</title>
  </head>
  <body>
    <h1>The Blogging API</h1>
    <p>
      This is a simple API for a blog. It has the following endpoints:
    </p>
    <ul>
      <li>
        <a href="/api/v1/blogs">/api/v1/blogs</a> - Returns all blog posts
      </li>
      <li>
        <a href="/api/posts/1">/api/posts/:id</a> - Returns a single post
      </li>
      <li>
        <a href="/api/posts/1/comments">/api/posts/:id/comments</a> - Returns
        all comments for a single post
      </li>
      </ul>
      <p>You can view the Postman documentation <a href="https://documenter.getpostman.com/view/22961306/2s8YYFs47Y">HERE</a></p>
  </body>
</html>
